.userDetails-main {
    width:  70%;
    margin: 1rem 0 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-info {
    width: 17rem;
    height: 13rem;
}

.user-info h4 {
    font-weight: 400;
    margin-bottom: 2rem;
}

.user-courses {
    width: 19rem;
    height: 13rem;
}

.user-courses ul {
    list-style-type: none;
    padding-left: 0;
}

.user-courses li {
    font-size: 18px;
    margin-top: 3px;
    display: flex;
}

.user-courses li div {
    background-color: #5488cc;
    color: #fff;
    padding: 0 5px;
    margin-right: 5px;
    border-radius: 6px;
}

.user-chart {
    width: 65%;
}